.footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.footer-links a:hover {
    text-decoration: underline; /* Adds an underline on hover */
}

.social-media {
    margin: 10px 0;
}

.social-media a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.social-media a:hover {
    text-decoration: underline; /* Adds an underline on hover */
}
