.press-container {
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

header {
  background-color: #f4f4f4;
  padding: 20px;
  margin-bottom: 20px;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

header p {
  margin: 0;
  font-size: 1em;
}

/* Adjust grid for two columns */
.articles-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 30px; /* Space between articles */
  margin: 0 20px;
}

/* Make articles larger */
.article {
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center; /* Center align content */
  justify-content: center; /* Center align content */
}

.article img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; /* Ensure image covers the container */
}

/* Responsive behavior for smaller screens */
@media (max-width: 768px) {
  .articles-grid {
    grid-template-columns: 1fr; /* One column for mobile */
  }

  .article {
    height: 300px; /* Adjust height for smaller screens */
  }

  .article img {
    height: auto; /* Allow image height to adjust */
    max-height: 100%; /* Prevent overflow */
  }

  header h1 {
    font-size: 1.5em;
  }

  header p {
    font-size: 0.9em;
  }
}


/* Modal overlay styling */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal content styling */
.modal {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 90%;
  max-height: 90%;
  overflow: hidden;
}

/* Close button styling */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 36px;
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Arrow button styling */
.arrow-button {
  background: rgba(0, 0, 0, 0.7);
  border: none;
  font-size: 3em; /* Increased size for better visibility */
  color: white;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1001;
  width: 30px; /* Larger width */
  height: 30px; /* Larger height */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Added shadow for depth */
}

/* Position previous and next buttons */
.arrow-button.prev {
  left: 10px;
}

.arrow-button.next {
  right: 10px;
}

/* Modal image styling */
.modal-image {
  max-width: 100%;
  max-height: calc(100vh - 100px);
  display: block;
  margin: 0 auto;
}
